.gallery{
  display: grid;
  width:100%;

  grid-template-rows: repeat(4, 30%);
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
}
.text-div{
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p{
    padding-left: 5%;
    padding-right: 5%;
  }
}
.image-div{
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-styling{
width: auto;
max-width: 100%;
height: auto;
}
.spacer-with-title{
  height: 5%;
  width: 100%;
  margin-top:100px;
  margin-bottom: 1%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}