main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: auto;
}

main P {
  color: lightgray;
}

main h2 {
  margin-bottom: -10px;
  color: lightgray;
}

.container {
  margin-top: 3.5%;
  width: 80%;
  margin: 50px, auto;
  zoom: 1.5;
  height: auto;
}

.container p {
  margin-bottom: 10px;
}

.contact-box {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 40px 60px;
}

.contact-left h3 {
  color: #1c00b5;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 40px;
  background: #1c00b5;
  color: white;
}

.contact-right h1 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 30px;
}

.input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

.textarea {
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label {
  margin-bottom: 4px;
  display: block;
  color: #1c00b5;
}

button {
  background: #1c00b5;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.4);
          box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.4);
  margin-top: 10px;
}

tr td:first-child {
  padding-right: 20px;
}

tr td {
  padding-top: 20px;
}

td {
  color: #fff;
}

#message-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
